@import "tailwindcss";

@layer base {
  :root {
    /* --font-instru: ; */
  }
}
@layer utilities {
  .shimmer-bg {
    position: relative;
    overflow: hidden;
  }

  .shimmer-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      110deg,
      transparent 0%,
      rgb(255, 255, 255),
      transparent 100%
    );
    animation: shimmer-move 1.6s ease-out forwards;
  }

  @keyframes shimmer-move {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
